<p>grid {{ type }} works! TrackBy: {{ trackBy }}</p>
<table class="table">
  <tr>
    <th>Company Direct</th>
    <th>Company Item</th>
    <th>Company Item OP</th>
    <th>Object</th>
    <th>Contact</th>
  </tr>
  <ng-container *ngIf="trackBy">
    <tr *ngFor="let item of array;trackBy: trackByFn">
      <td>{{ item.company }}</td>
      <td><app-item [item]="item.company"></app-item></td>
      <td><app-item-op [item]="item.company"></app-item-op></td>
      <td><app-item-object [item]="item"></app-item-object></td>
      <td>{{ item.contact }}</td>
    </tr>
  </ng-container>
  <ng-container *ngIf="!trackBy">
    <tr *ngFor="let item of array">
      <td>{{ item.company }}</td>
      <td><app-item [item]="item.company"></app-item></td>
      <td><app-item-op [item]="item.company"></app-item-op></td>
      <td><app-item-object [item]="item"></app-item-object></td>
      <td>{{ item.contact }}</td>
    </tr>
  </ng-container>
</table>
